*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li{
	list-style: none;
}

input,
textarea{
	display: block;
	outline: none;
}

body{
	font-size: 14px;
	line-height: 1.5;
}

i,em{
	font-style: normal;
}

a{
	text-decoration: none;
}

html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
	user-select:none;
}

.ej-tag-body{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.ej-tag-img{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}


/*导航栏*/
.navbar{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 44px;
	-ios-padding-top: 20px;
	-ios-height: 64px;
	background-color: rgba(255,255,255,.95);
}
.navbar-title{
	text-align: center;
	height: 44px;
	line-height: 44px;
	font-size: 17px;
	color: #555;
	font-weight: bold;
}
.navbar-left,
.navbar-right{
	position: absolute;
	top: 0;
	-ios-top: 20px;
	height: 44px;
	line-height: 44px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	color: #38f;
}
.navbar-left{
	left: 10px;
	justify-content: flex-start;
}
.navbar-right{
	right: 10px;
	justify-content: flex-end;
}
/*功能*/
.fn-hide{
	display: none !important;
}